@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
    $black:  #010101; 
    $font-inter: 'Inter', sans-serif;

   
    body {
    background-color: #F3F2F0;
     font-family: 'Inter', sans-serif;
    }
    a {
        text-decoration: none;
        color:  #010101;
    }
    ul {
        list-style-type: none;
    }
    p {
       
    }

    .header {
        max-width: 1140px;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 59px;
        margin-left: 400px;
        display: flex;
        justify-content: space-between;
        flex-basis: 526px;
        
        &__nav {
            display: flex;
            margin: 0;
            padding-left: 0;
            gap: 20px;
        }
        
       &__link {
        font-family: 'Inter', sans-serif;
       
       }
       &__infolink {
        font-family: 'Inter', sans-serif;
        display: flex;
        gap: 26px;
       }
    }
    
   
    .box {
        width: 1295px;
        height: 758px;
        margin-left: 235px;
        &__block{
            margin-left: 170px;
            font-family: 'Inter', sans-serif;
        }
        &__bg{
            width: 1140px;
            background-repeat: no-repeat; 
        }
        &__name {
            font-size: 28px;
            font-weight: 400;
            margin-top: 93px;
        }
        &__article {
            font-size: 74px;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 81px;
        }
        &__title {
            font-size: 16px;
            font-weight: 700; 
        }
        &__button {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #010101;
        padding-bottom: 46px;
        }
        &__network {
            display: flex;
            gap: 56px; 
            
        }
        &__link {
            font-size: 16px;
            
        }
        &__skills {
            display: flex;
            gap: 31px;
            padding-top: 32px;
            padding-left: 0;
            
        }
   
        &__options {
            font-weight: 700;
            font-size: 16px;    
        }

        &__about {
            margin-top: 161px;
            display: flex;
            border-bottom: 2px solid #010101;
            padding-bottom: 80px;
           }
           &__text {
            flex-basis: 125%;
           }   
    }
    .description {
        &_size-s {
            font-weight: 400;
            font-size: 14px;
        }
        &_size-m {
            font-size: 28px;
        }
        &_size-l {
            font-size: 16px;
        }
    }    
    .grid {
        width: 560px;
        height: 274px;
        margin-left: 539px;
        margin-bottom: 56px;
        margin-top: 54px;
        &__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        
    }
    .steps {
        display: flex;
        gap: 168px;
        margin-left: 127px;
        border-bottom: 2px solid #010101;
        border-top: 2px solid #010101;
        &__object {
            display: flex;  
        }
        &__subject {
       line-height: 3.5;
        }
        &__plan {
        line-height: 6.2;
      
        }
    }
    